<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<div class="crop" [style.width.px]="starWidth" [title]='raiting' (click)='onClick()'>

  <div style='width: 100px'>

    <span><i class="fa fa-star" aria-hidden="true"></i></span>
    <span><i class="fa fa-star" aria-hidden="true"></i></span>
    <span><i class="fa fa-star" aria-hidden="true"></i></span>
    <span><i class="fa fa-star" aria-hidden="true"></i></span>
    <span><i class="fa fa-star" aria-hidden="true"></i></span>
    
  </div>

</div>